!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body.signup-login
    %header.signup-login__header
      = render partial: 'header'
    %main.signup-login__box
      .signup-login__box__title
        %h2 新規会員登録
      .form-format
        .form-format__content
          .field.field-first
            =link_to "", class: "mail btn" do
              = fa_icon "envelope mail-icon"
              メールアドレスで登録する
          .field
            =link_to "", class: "facebook btn" do
              = fa_icon 'facebook-square'
              facebookで登録する
          .field
            =link_to "", class: "google btn" do
              = fa_icon 'google'
              Googleで登録する
    %footer.signup-login__footer
      = render partial: 'footer'
