<h2>会員情報入力</h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {novalidate: "novalidate"})  do |f| %>
  <div class="field">
    <%= f.label :ニックネーム %><span>必須</span><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例）メルカリ太郎" %>
    <% @user.errors.full_messages_for(:nickname).each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><span>必須</span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可" %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <li><%= message %></li>
    <% end %>   
  </div>

  <div class="field">
    <%= f.label :パスワード %><span>必須</span>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上" %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><span>必須</span><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "７文字以上" %>
      <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
        <li><%= message %></li>
      <% end %>  
  </div>

  <h3>本人確認</h3>
  <p>安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</p>

  <div class="field">
    <%= f.label :お名前（全角） %><span>必須</span><br />
    <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "例）山田" %>
    <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "例）彩" %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% @user.errors.full_messages_for(:last_name).each do |message| %>
      <li><%= message %></li>
    <% end %>  
  </div>

  <div class="field">
    <%= f.label :お名前カナ（全角） %><span>必須</span><br />
    <%= f.text_field :first_kana_name, autocomplete: "first_kana_name", placeholder: "例）ヤマダ" %>
    <%= f.text_field :last_kana_name, autocomplete: "last_kana_name", placeholder: "例）アヤ" %>
    <% @user.errors.full_messages_for(:first_kana_name).each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% @user.errors.full_messages_for(:last_kana_name).each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>

  <div class="field">
  <%= f.label :生年月日 %><span>必須</span><br />
  <%== sprintf(
                f.date_select(
                  :birthday,
                  use_month_numbers: true,
                  date_separator: '%s',
                  start_year: 1900, end_year: Time.now.year,
                  include_blank: true,
                  order: [:year, :month, :day],
                  ), '年','月'
              ) + '日'
  %>
  <% @user.errors.full_messages_for(:birthday).each do |message| %>
    <li><%= message %></li>
  <% end %>

  <p>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
  <%= recaptcha_tags %>
  <p>「次へ進む」のボタンを押すことにより、<a href="">利用規約</a>に同意したものとみなします</p>
  
  <div class="actions">
    <%= f.submit "次へ進む" %>
  </div>
<% end %>
<a href="">本人情報の登録について></a>
