%aside.app-banner
  .app-banner__contents
    .app-banner__contents__inner
      .app-banner__contents__inner__text
        %h2.app-banner__contents__inner__text__1 スマホでかんたんフリマアプリ
        %p.app-banner__contents__inner__text__2 今すぐ無料ダウンロード!
      .app-banner__contents__inner__icons
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?863303983", width: "68", class: "app-banner__contents__inner__icons__figure-1"
        %ul.app-banner__contents__inner__icons__app-google
          %li.app-banner__contents__inner__icons__app-google__app
            = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983", width: "133", height:"40"
          %li.app-banner__contents__inner__icons__app-google__google
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983", width: "133", height: "40"
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?863303983", width: "300", height: "263", class: "app-banner__contents__figure-2"