%footer.mercari-confirmation-footer
  %nav
    %ul
      %li= link_to 'プライバシーポリシー', "https://www.mercari.com/jp/privacy/", class: "mercari-confirmation-footer__link"
      %li= link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/", class: "mercari-confirmation-footer__link"
      %li= link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/", class: "mercari-confirmation-footer__link"
  = link_to '/', class: "mercari-confirmation-footer__link" do
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?615905397", width: "80", height: "65", alt: "mercari", class: "mercari-confirmation-footer__link__image"
  %p
    %small © 2019 Mercari