%nav.sidebar#sidebar-active
  %ul.sidebar__nav
    %li.sidebar__nav__list
      = link_to mypage_index_path do
        マイページ
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to notification_mypage_index_path, class: "nav-list" do
        お知らせ
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to todo_mypage_index_path, class: "nav-list" do
        やることリスト
        = fa_icon "chevron-right" 
    %li.sidebarA__nav__list
      = link_to like_mypage_index_path, class: "nav-list" do
        いいね！一覧
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to new_product_path, class: "nav-list" do
        出品する
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to exhibiting_mypage_index_path, class: "nav-list" do
        出品した商品- 出品中
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to exhibit_trading_mypage_index_path, class: "nav-list" do
        出品した商品- 取引中
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to exhibited_mypage_index_path, class: "nav-list" do
        出品した商品- 売却済み
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to purchase_mypage_index_path, class: "nav-list" do
        購入した商品- 取引中
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to purchased_mypage_index_path, class: "nav-list" do
        購入した商品- 過去の取引
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to news_mypage_index_path, class: "nav-list" do
        ニュース一覧
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to review_mypage_index_path, class: "nav-list" do
        評価一覧
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to help_center_mypage_index_path, class: "nav-list" do
        ガイド
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to contact_mypage_index_path, class: "nav-list" do
        お問い合わせ
        = fa_icon "chevron-right" 
  %h3.sidebar__nav-title メルペイ 
  %ul.sidebar__nav
    %li.sidebar__nav__list
      = link_to sales_mypage_index_path, class: "nav-list" do
        売上・振込申請
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to point_mypage_index_path, class: "nav-list" do
        ポイント
        = fa_icon "chevron-right" 
  %h3.sidebar__nav-title 設定 
  %ul.sidebar__nav
    %li.sidebar__nav__list
      = link_to profile_mypage_index_path, class: "nav-list" do
        プロフィール
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to delivery_address_mypage_index_path, class: "nav-list" do
        発送元・お届け先住所変更
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to card_path, class: "nav-list" do
        支払い方法
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to email_password_mypage_index_path, class: "nav-list" do
        メール/パスワード
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to identification_mypage_index_path, class: "nav-list" do
        本人情報
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to sms_confirmation_mypage_index_path, class: "nav-list" do
        電話番号の確認
        = fa_icon "chevron-right" 
    %li.sidebar__nav__list
      = link_to logout_mypage_index_path, class: "nav-list" do
        ログアウト
        = fa_icon "chevron-right" 