%body.markup-item-purchase-transaction-page
= render 'shared/header_2'
%main.mercari-transaction
  %section.mercari-transaction__container
    %section.mercari-transaction__container__messages
      .mercari-transaction__container__messages__1
        %i.far.fa-clock
        %p 発送をお待ちください
      .mercari-transaction__container__messages__2
        %p 出品者からの発送通知をお待ちください
    %h2 購入が完了しました
    %section.mercari-transaction__container__transaction-item
      .mercari-transaction__container__transaction-item__inner
        .mercari-transaction__container__transaction-item__inner__item
          %h3= image_tag image_url("#{@product.product_images.first.image}"), width: "128", height: "170"
          %p= @product.name
    %section.mercari-transaction__container__price-box
      .mercari-transaction__container__price-box__text
        %p= number_to_currency(@product.price, unit: "￥", precision: 0)
        %p 送料込み
    %section.mercari-transaction__container__buy-user-info
      .mercari-transaction__container__buy-user-info__inner
        %h3 配送先
        %address
          〒601-8343
          %br 
          京都府京都市南区吉祥院稲葉町24
          %br
          ヤマト運輸
= render 'shared/footer_2'