= link_to "", class: "mercari-main__bottom__2__items__item" do
  .mercari-main__bottom__2__items__item__bottom
    = image_tag "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__bottom__2__items__item__bottom__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"
    .mercari-main__bottom__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__bottom__2__items__item__bottom__price-heart
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart__count
          18
= link_to "", class: "mercari-main__bottom__2__items__item" do
  .mercari-main__bottom__2__items__item__bottom
    = image_tag "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__bottom__2__items__item__bottom__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"
    .mercari-main__bottom__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__bottom__2__items__item__bottom__price-heart
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart__count
          18
= link_to "", class: "mercari-main__bottom__2__items__item" do
  .mercari-main__bottom__2__items__item__bottom
    = image_tag "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__bottom__2__items__item__bottom__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"
    .mercari-main__bottom__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__bottom__2__items__item__bottom__price-heart
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart__count
          18
= link_to "", class: "mercari-main__bottom__2__items__item" do
  .mercari-main__bottom__2__items__item__bottom
    = image_tag "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__bottom__2__items__item__bottom__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"
    .mercari-main__bottom__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__bottom__2__items__item__bottom__price-heart
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__bottom__2__items__item__bottom__price-heart__article-heart__count
          18