%body.signup-login
    %header.signup-login__header
      = render partial: 'signup/header'
    %main.signup-login__box
      .signup-login__box__title
        %h2 パスワードをお忘れの方
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-format", method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-format__content
          .field.field-first
            = f.label :メールアドレス
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス"
          %p.gray ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .field 私はロボットではありません。            
          .actions
            = f.submit "送信する"
    %footer.signup-login__footer
      = render partial: 'signup/footer'
