%ul
  - if @user.products.exhibit_trading.length == 0
    %li.not-found.bold 取引中の商品がありません
  - else
    - @user.products.each do |product|
      -if product.status == "exhibit_trading"
        %li
          = link_to product_path(product), class: "item-list" do
            %figure
              -if product.product_images.present?
                = image_tag product.product_images.first.image.url
              - else
                = image_tag "noimage.png"
            .message-box
              .message 
                = product.name
              .item-status.doing 取引中
            = fa_icon "chevron-right"