%ul
  - if @user.products.exhibiting.length == 0 && @user.products.stop_exhibit.length == 0
    %li.not-found.bold 出品中の商品がありません
  - else
    - @user.products.each do |product|
      - if product.status == "exhibiting"
        %li
          = link_to "/products/#{product.id}", class: "item-list" do
            %figure
              = image_tag product.product_images.first.image.url
            .message-box
              .message 
                = product.name
              .item-status.exhibit 出品中
            = fa_icon "chevron-right"
      - elsif product.status == "stop_exhibit"
        %li
          = link_to "/products/#{product.id}", class: "item-list" do
            %figure
              = image_tag product.product_images.first.image.url
            .message-box
              .message 
                = product.name
              .item-status.stop-exhibit 公開停止中
            = fa_icon "chevron-right"