%ul
  /  - if message.present?
  %li
    = link_to news_mypage_index_path, class: "item-list" do
      %figure
        = image_tag "mercari-icon.png", alt: "メルカリアイコン"
      .message-box
        .message 事務局から個別メッセージ「ログイン通知」
        %time
          = fa_icon "clock m-right8"          
          %span １日前
      = fa_icon "chevron-right"
  %li.more-list
    = link_to notification_mypage_index_path, class: " " do
      一覧を見る
  / - else
  /   %li.not-found.bold 現在、やることリストはありません