- if @purchased_products
  %li
    = link_to order_path(product), class: "item-list" do
      %figure
        = image_tag image_url("#{product.product_images.first.image}") , alt: product.name
      .message-box
        .message
          = "#{product.name}を購入しました。取引が完了しました。"
        .item-status.done 取引完了
      = fa_icon "chevron-right"
- else
  %li.not-found.bold 購入した商品はありません