%ul
  /  - if message.present?
  %li
    = link_to "", class: "item-list" do
      %figure
        = image_tag "camera.jpg", alt: "商品画像"  
      .message-box
        .message 
          %i.fas.fa-meh
          %p user-name
          message・・・・・・・・・・
        %time
          = fa_icon "clock m-right8"          
          %span ××××年××月××日 ××時××分
      = fa_icon "chevron-right"
  %li
    = link_to "", class: "item-list" do
      %figure
        = image_tag "camera.jpg", alt: "商品画像"  
      .message-box
        .message 
          %i.fas.fa-meh
          %p user-name
          message・・・・・・・・・・
        %time
          = fa_icon "clock m-right8"          
          %span ××××年××月××日 ××時××分
      = fa_icon "chevron-right"
  %li
    = link_to "", class: "item-list" do
      %figure
        = image_tag "camera.jpg", alt: "商品画像"  
      .message-box
        .message 
          %i.fas.fa-meh
          %p user-name
          message・・・・・・・・・・
        %time
          = fa_icon "clock m-right8"          
          %span ××××年××月××日 ××時××分
      = fa_icon "chevron-right"
 
  / - else
  /   %li.not-found.bold 現在、やることリストはありません      