- if user_signed_in?
  = render partial: 'shared/header_after_login'
  - breadcrumb :mypage, class: "breadcrumbs"
  = render 'shared/breadcrumbs'
- else
  = render partial: 'shared/header_before_login'
%body.mypage
  %main.mypage-content
    .mypage-content__r-content
      %section.mypage-content__r-content__user-icon
        = link_to "", class: "" do
          %figure
            = image_tag "user-icon.jpg", size: "60x60", alt: "ユーザーアイコン"
          %h2.bold#hoge user
          .user-info.m-top8
            %div.inlign-block 
              評価
              %span.bold 19
            %div.inlign-block.m-left16
              出品数
              %span.bold 19
      %section.mypage-content__r-content__index
        %ul.mypage-content__r-content__index__tab.flex
          %li.mypage-tab.is-active
            %h3.bold
              = link_to "", class: "" do
                お知らせ
          %li.mypage-tab
            %h3.bold
              = link_to "", class: "" do
                やることリスト
        .mypage-content__r-content__index__content.mypage-panel.is-show
          = render partial: 'notification_panel'
        .mypage-content__r-content__index__content.mypage-panel
          = render partial: 'todo_panel'

      %section.mypage-content__r-content__index.purchased-index.m-top40
        %h2.purchased-index__title.bold 購入した商品
        %ul.mypage-content__r-content__index__tab.flex
          %li.mypage-tab2.is-active2
            %h3.bold
              = link_to "", class: "" do
                取引中
          %li.mypage-tab2
            %h3.bold
              = link_to "", class: "" do
                過去の取引
        .mypage-content__r-content__index__content.mypage-panel2.is-show2
          %ul.purchase-lists
            - @products.each do |product| 
              = render partial: 'purchase_panel', locals: { product: product }
            %li.more-list
              = link_to "", class: " " do
                一覧を見る
        .mypage-content__r-content__index__content.mypage-panel2
          %ul.purchase-lists
            = render partial: 'purchased_panel'
            %li.more-list
              = link_to "", class: " " do
                一覧を見る          
    .side
      = render partial: 'shared/sidebar'
= render partial: 'shared/app-banner'
= render partial: 'shared/footer'
.mercari-sell-btn
  .mercari-sell-btn__text 出品
  = link_to new_product_path do
    = fa_icon 'camera', class: "camera"
