- if user_signed_in?
  = render partial: 'shared/header_after_login'
  - breadcrumb :news, class: "breadcrumbs"
  = render 'shared/breadcrumbs'
- else
  = render partial: 'shared/header_before_login'
%body.mypage
  %main.mypage-content
    .mypage-content__r-content
      %section.mypage-content__r-content__index
        .mypage-content__r-content__index__content.is-show2
          %h2.mypage-title.bold ニュース一覧
          = render partial: 'news_panel'
    .side
      = render partial: 'shared/sidebar'
= render partial: 'shared/app-banner'
= render partial: 'shared/footer'
.mercari-sell-btn
  .mercari-sell-btn__text 出品
  = link_to new_product_path do
    = fa_icon 'camera', class: "camera"