%body.mypage
  = render partial: 'breadcrumb'
  %main.mypage-content.flex
    .side
      = render partial: 'sidebar'
    .mypage-content__r-content
      %section.mypage-content__r-content__index.purchased-index
        %h2.purchased-index__title.bold 購入した商品
        %ul.mypage-content__r-content__index__tab.flex
          %li.is-active2
            %h3.bold
              = link_to "", class: "" do
                取引中
          %li
            %h3.bold
              = link_to purchased_mypage_index_path, class: "" do
                過去の取引
        .mypage-content__r-content__index__content.mypage-panel2.is-show2
          = render partial: 'purchase_panel'
        .mypage-content__r-content__index__content.mypage-panel2
          = render partial: 'purchased_panel'


