- if user_signed_in?
  = render partial: 'shared/header_after_login'
  - breadcrumb :purchase, class: "breadcrumbs"
  = render 'shared/breadcrumbs'
- else
  = render partial: 'shared/header_before_login'
%body.mypage
  %main.mypage-content
    .mypage-content__r-content
      %section.mypage-content__r-content__index.purchased-index
        %h2.purchased-index__title.bold 購入した商品
        %ul.mypage-content__r-content__index__tab.flex
          %li.status-title.is-active2
            %h3.bold
              = link_to "", class: "" do
                取引中
          %li.status-title
            %h3.bold
              = link_to purchased_mypage_index_path, class: "" do
                過去の取引
        .mypage-content__r-content__index__content.mypage-panel2.is-show2
          %ul.purchase-lists
            - @products.each do |product| 
              = render partial: 'purchase_panel', locals: { product: product }
        .mypage-content__r-content__index__content.mypage-panel2
          %ul.purchase-lists
            = render partial: 'purchased_panel'
      %ul.mypage-history
        %li.prev
          = link_to "", class: "" do
            = fa_icon "chevron-left"
        %li.foward
          = link_to "", class: "" do
            = fa_icon "chevron-right"            
    .side
      = render partial: 'shared/sidebar'
= render partial: 'shared/app-banner'
= render partial: 'shared/footer'
.mercari-sell-btn
  .mercari-sell-btn__text 出品
  = link_to "https://www.mercari.com/jp/sell/" do
    = fa_icon 'camera', class: "camera"