= render partial: 'shared/header_before_login'
%body.mypage
  = render partial: 'breadcrumb'
  %main.mypage-content
    .mypage-content__r-content
      %section.mypage-content__r-content__index
        %ul.mypage-content__r-content__index__tab.flex
          %li.status-title
            %h3.bold
              = link_to notification_mypage_index_path, class: "" do
                お知らせ
          %li.status-title.is-active
            %h3.bold
              = link_to "", class: "" do
                やることリスト
        .mypage-content__r-content__index__content.mypage-panel
          = render partial: 'notification_panel'
        .mypage-content__r-content__index__content.mypage-panel.is-show
          = render partial: 'todo_panel'
    .side
      = render partial: 'sidebar'
= render partial: 'shared/app-banner'
= render partial: 'shared/footer'
.mercari-sell-btn
  .mercari-sell-btn__text 出品
  = link_to "https://www.mercari.com/jp/sell/" do
    = fa_icon 'camera', class: "camera"