%body.mypage
  = render partial: 'breadcrumb'
  %main.mypage-content.flex
    .side
      = render partial: 'sidebar'
    .mypage-content__r-content
      %section.mypage-content__r-content__index
        %ul.mypage-content__r-content__index__tab.flex
          %li
            %h3.bold
              = link_to notification_mypage_index_path, class: "" do
                お知らせ
          %li.is-active
            %h3.bold
              = link_to "", class: "" do
                やることリスト
        .mypage-content__r-content__index__content.mypage-panel
          = render partial: 'notification_panel'
        .mypage-content__r-content__index__content.mypage-panel.is-show
          = render partial: 'todo_panel'

