= link_to product_path(product), class: "mercari-main__middle__4__items__item" do
  .mercari-main__middle__4__items__item__bottom
    -if product.product_images.present?
      = image_tag image_url("#{product.product_images.first.image}"), class: "mercari-main__middle__4__items__item__bottom__image", alt: ""
    - else
      = image_tag "noimage.png", class: "mercari-main__middle__4__items__item__bottom__image", alt: ""
    .mercari-main__middle__4__items__item__bottom__article-name
      = product.name
    .mercari-main__middle__4__items__item__bottom__price-heart
      .mercari-main__middle__4__items__item__bottom__price-heart__article-price
        = number_to_currency(product.price)
      .mercari-main__middle__4__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__4__items__item__bottom__price-heart__article-heart__count
          = product.likes_count