= link_to product_path(product), class: "user-items-profile__related-items__items__item" do
  .user-items-profile__related-items__items__item__bottom
    = image_tag image_url("#{product.product_images.first.image}"), class: "user-items-profile__related-items__items__item__bottom__image", alt: ""
    .user-items-profile__related-items__items__item__bottom__article-name
      = product.name
    .user-items-profile__related-items__items__item__bottom__price-heart
      .user-items-profile__related-items__items__item__bottom__price-heart__article-price
        = number_to_currency(product.price)
      .user-items-profile__related-items__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .user-items-profile__related-items__items__item__bottom__price-heart__article-heart__count
          = product.likes_count