= link_to product_path(product), class: "mercari-main__middle__2__items__item" do
  .mercari-main__middle__2__items__item__bottom
    = image_tag image_url("#{product.product_images.first.image}"), class: "mercari-main__middle__2__items__item__bottom__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"
    .mercari-main__middle__2__items__item__bottom__article-name
      = product.name
    .mercari-main__middle__2__items__item__bottom__price-heart
      .mercari-main__middle__2__items__item__bottom__price-heart__article-price
        = number_to_currency(product.price, unit: "￥", precision: 0)
      .mercari-main__middle__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__2__items__item__bottom__price-heart__article-heart__count
          = product.likes_count
