= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        %div ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥30000
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥30000
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1
= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera canon canon canon canon
    .product-box-body__number
      .product-box-body__number__price
        ¥350
      .product-box-body__number__like
        %i.far.fa-heart
        %span 1