= link_to product_path(product.id), class: "mercari-main__bottom__3__items__item" do
  .mercari-main__bottom__3__items__item__bottom
    = image_tag image_url("#{product.product_images.first.name}"), class: "mercari-main__bottom__3__items__item__bottom__image", alt: ""
    .mercari-main__bottom__3__items__item__bottom__article-name
      = product.name
    .mercari-main__bottom__3__items__item__bottom__price-heart
      .mercari-main__bottom__3__items__item__bottom__price-heart__article-price
        = number_to_currency(product.price, unit: "￥", precision: 0)
      .mercari-main__bottom__3__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__bottom__3__items__item__bottom__price-heart__article-heart__count
          = product.likes_count